.special-title__wrapper {
  font-size: 60px;
  line-height: 1.45;
  font-weight: 600;
  color: var(--color-white);
  @media(max-width: 991px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 30px;

  }

  .text-yellow-1 {
    display: block;
    color: var(--color-yellow-1);
  }
}