#masthead {
  background-color: var(--color-dark-3);

  .tabs-controls {
    padding-top: 120px;

    .tabs-button {
      font-size: 16px;
      font-weight: 600;
      line-height: 20.8px;
      transition: all .2s cubic-bezier(.165, .84, .44, 1);

      &:hover {
        color: var(--color-blue-1);
      }

      svg {
        margin-right: 10px;
        width: 20px;
      }
    }
  }

  .masthead-content {
    padding-top: 120px;

    .masthead__images {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr;
      gap: 30px;


      img {
        border-radius: 4px;
        width: 100%;
        object-fit: cover;
        &.third{
          margin-top: 30px;
        }
      }
    }
  }
}