header {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  transition: all .4s cubic-bezier(.165, .84, .44, 1);
  background-color: var(--color-dark-3);
  &.isSticky{
    background-color: var(--color-dark-1);
    margin: 0;
    box-shadow: #959da533 0 8px 24px;
  }

  .header-wrapper {
    .header-wrapper__left {
      .header-hamburger {
        cursor: pointer;
        span {
          background-color: var(--color-white);
          height: 2px;
          &:nth-child(1) {
             width: 20px;
            margin-bottom: 5px;
          }
          &:nth-child(2) {
            width: 17px;
          }
        }
      }
      .header-logo{
        @media(max-width: 991px){
          width: 100%;
        }
      }
      .header-search{
        .header-search__icon{
          margin-right: 15px;
          svg{
            filter: invert(1);
            font-size: 18px;
          }
        }
        .header-search__input{
          font-size: 15px;
          line-height: 1.6;
          input {
            border: 0;
            outline: none;
            width: 100%;
            background-color: transparent;
            padding: 1px 2px;
          }
        }
      }
    }
    .header-wrapper__right{
      width: 100%;
      max-width: 167px;

      .header-account{
         .main-button-transparent{
           max-width: 167px;
         }
       }
    }
  }
}