.main-search{
  background-color: var(--color-white);
  box-shadow: #64646f33 0 7px 29px;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  padding: 10px  10px 10px 0;
  @media(max-width: 991px){
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    padding: 5px 20px 20px;
  }
  .main-search__list{
    display: grid;
    grid-template-columns: 205px 250px 290px auto;
    @media(max-width: 991px){
      grid-template-columns: 1fr;
    }

    .main-search__item{
        border-right: 1px solid var(--color-border);

      @media(max-width: 991px){
        border-right: unset;
        border-bottom: 1px solid var(--color-border);
      }
      &.search-menu__date{
        .main-search__form{
          position: relative;
          input{
            border: 0;
            outline: none;
            width: 100%;
            font-size: 14px;
            padding: 0;
            background-color: transparent;
          }
        }
      }
      &.search-menu__guests{
        position: relative;
        .search-guests__options{
          position: absolute;
          z-index: 2;
          width: 100%;
          top: 100%;
          left: 0;
          margin-top: 15px;
          box-shadow: 0 10px 35px #0510361a;
          .guest-options__wrapper{
            background-color: var(--color-white);
            border-radius: 4px;
            .search-guests__item {
              &.childrens, &.adults{
                border-bottom: 1px solid var(--color-border);
                padding-bottom: 24px;
              }
              &.childrens, &.rooms{
                padding-top: 24px;
              }

              .search-guests__text {
                span {
                  font-size: 15px;
                  line-height: 18px;
                  font-weight: 500;
                }
              }
              .options {
                .option-counter__button {
                  border: 1px solid var(--color-blue-1);
                  width: 38px;
                  height: 38px;
                  font-size: 15px;
                  line-height: 1.2;
                  color: var(--color-blue-1);
                  border-radius: 4px;
                  font-weight: 500;
                  transition: all .3s cubic-bezier(.165, .84, .44, 1);
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;

                  &:hover {
                    background-color: var(--color-blue-1);
                    border-color: transparent;
                    color: #fff;
                  }
                }
              }
            }

          }
        }
      }
      h4{
        font-weight: 500;
        line-height: 1.6;
        font-size: 15px;
      }
      .main-search__form {
        line-height: 26px;
        input {
          color: var(--color-light-1);
          line-height: 24px;
          font-size: 15px;
          font-weight: 400;

          &:active, &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }
      .search-guests__list{
        color: var(--color-light-1);
        span{
          color: var(--color-light-1);
          line-height: 1.6;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}